Repository wp-cli/php-cli-tools, pull requests merged in 2025-03, with the labels that each got.

#179 Properly handle line breaks in column value
  lib/cli/table/Ascii.php
Labels: bug

#180 Allow manually triggering tests
  .github/workflows/testing.yml
Labels: scope:testing

#181 Replace tabs in tables with 4 spaces
  lib/cli/table/Ascii.php
Labels: bug, scope:table

#182 Support line breaks and tab replacement in tabular table values
  lib/cli/table/Tabular.php
Labels: bug, scope:table

#185 Avoid deprecation warnings in newer PHP
  lib/cli/table/Tabular.php
  tests/Test_Table.php
Labels: bug
